[Desktop Entry]
Type=Application
Name=eduK
Comment=A revolution in the social impact technology market, combining online education and income generation.
Icon=br.com.eduk.school
Exec=run.sh
Categories=Education